In [ ]:
Introduction to python programming:

In [ ]:
Understanding the variables in python:

In [4]:
x = 2
y = 3
z = x + y
print(z)

5

In [ ]:
Rules for declaring the variables in python:

In [ ]:
Rule NO 1: No Namespaces while declaring the variable names in python

In [5]:
first name = 'Faiyaz'
print(first name)

SyntaxError: invalid syntax (2642777287.py, line 1)

In [6]:
firstname = 'Faiyaz'
print(firstname)

Faiyaz

In [ ]:
Rule No 2: A variable name should not start with a number **

In [7]:
1name = 'karthik'
print(1name)

SyntaxError: invalid decimal literal (1410008898.py, line 1)

In [8]:
name1 = 'karthik'
print(name1)

karthik

In [ ]:
Rule No 3: A variable name should not contain any special characters
      @ # $ % ^ & *

In [9]:
name@ = "deepak"
print(name@)

SyntaxError: invalid syntax (367995000.py, line 1)

In [ ]:
Introduction to datatypes in python:

In [ ]:
1. strings ===> str
Numbers ===> integers ---> int and floats ===> float (decimals ===> 0.1,0.2)
lists ===> list
tuples ===> tuple
Dictionaries ===> dict

In [ ]:
Note : python is a case sensitive programming language.

In [ ]:
Classification of datatypes in python:

In [ ]:
Broadly datatypes are classified in to 2 different categories :
    1. mutable datatypes ===> which we can edit / alter ====> flexible in nature
    2. immutable datatypes ===> which we cannot be able to edit ===> these are fixed in nature

In [ ]:
introduction to string datatype :
definition : A string is a series of characters declared in quotes.
classification: It is classified as an immutable datatype
how to declare the string datatype ====> 2 approaches
1. single quote
2. double quote

In [10]:
name = 'joseph' # single quote
print(name)

joseph

In [11]:
name2 = "kavya" # double quote
print(name2)

kavya

In [ ]:
introduction to string methods :

In [12]:
type(name)

str

In [13]:
type(name2)

str

In [14]:
fullname = 'zeba ansari'
print(fullname)

zeba ansari

In [ ]:
# req: to correct the format

In [15]:
print(fullname.title())

Zeba Ansari