In [ ]:
Introduction to datatypes:

In [ ]:
1. String 
2. Numbers ===> integers (int) and float (decimals) = 0.1, 0.2
3. list datatype
4. tuples
5. Dictionaries

In [ ]:
introduction to Numbers:

In [2]:
number = 123
print(number)

123

In [3]:
type(number)

int

In [4]:
num2 = 0.1
print(num2)

0.1

In [5]:
type(num2)

float

In [ ]:
Introduction to list datatype:
Definition: A list is a collection of items defined in a particular order.
Classified: It is classified as mutable datatype (which we can edit/alter)
how to defined the list datatype: [] #square brackets.

In [8]:
students = ['arpita', 'ashwini', 'asma', 'bhuvan', 'david', 'karthik']

In [9]:
print(students)

['arpita', 'ashwini', 'asma', 'bhuvan', 'david', 'karthik']

In [11]:
type(students)

list

In [ ]:
Introduction to indexing: 0, 1, 2, 3, 4, 5, 6,.......

In [ ]:
# req: i want to access ashwini name in the output?

In [12]:
print(students[1])

ashwini

In [13]:
print(students[1].title())

Ashwini

In [ ]:
# req: i want to access bhuvan name in the output?

In [15]:
print(students[3].title())

Bhuvan

In [ ]:
how to add new elements to the list?
how to modify the element in the list?
how to delete the elements in the list?

In [17]:
print(students)

['arpita', 'ashwini', 'asma', 'bhuvan', 'david', 'karthik']

In [ ]:
# req: i want to add 'shafi' name in the above list?

In [18]:
students.append('shafi')

In [19]:
print(students)

['arpita', 'ashwini', 'asma', 'bhuvan', 'david', 'karthik', 'shafi']

In [ ]:
# req: i want to add 'venkat' name in the above list?

In [22]:
students.append('venkat')
print(students)

['arpita', 'ashwini', 'asma', 'bhuvan', 'david', 'karthik', 'shafi', 'venkat', 'venkat']

In [ ]:
# req: i want to add 'kaleem' name at 2nd index position?

In [23]:
students.insert(2, 'kaleem')

In [24]:
print(students)

['arpita', 'ashwini', 'kaleem', 'asma', 'bhuvan', 'david', 'karthik', 'shafi', 'venkat', 'venkat']

In [25]:
print(students[2])

kaleem

In [ ]:
Interview question: What is the difference between append() and insert() method in the list datatype?
Ans: append will use to add item at the rear end and insert method is used to add item any position.

In [26]:
print(students)

['arpita', 'ashwini', 'kaleem', 'asma', 'bhuvan', 'david', 'karthik', 'shafi', 'venkat', 'venkat']

In [ ]:
#req: i want to modify 'arpita' name to 'anand'.

In [27]:
students[0] = 'anand'

In [28]:
print(students)

['anand', 'ashwini', 'kaleem', 'asma', 'bhuvan', 'david', 'karthik', 'shafi', 'venkat', 'venkat']

In [29]:
print(students)

['anand', 'ashwini', 'kaleem', 'asma', 'bhuvan', 'david', 'karthik', 'shafi', 'venkat', 'venkat']

In [ ]:
# req: i want to delete 'ashwini' name in the above list?

In [30]:
del students[1]

In [31]:
print(students)

['anand', 'kaleem', 'asma', 'bhuvan', 'david', 'karthik', 'shafi', 'venkat', 'venkat']